@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
}

.wrapper {
    display: flex;
}

#sidebar {
    background: #47748b;
    width: 20%;
    color: #FFFFFF;
    height: 100%;
    transition: all 0.3s;
    position: fixed;
}
a, a:hover {
    text-decoration: none;
    color: inherit;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #3e677c;
}

#sidebar ul li a {
    padding: 10px;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

#sidebar ul li a:hover {
    color: #47748b;
    background: #fff;
}
#sidebar ul li.active {
    color: #fff;
    background: #4f839e;
}

.navbar-brand{
    padding: 7px;
    padding-left: 20px;
}
.logo {
    max-width: 50px;
}

.navbar {
    background-color: #47748b;
}

.nav.navbar-nav.navbar-right li a{
color: #FFFFFF;
}

.nav.navbar-nav.navbar-right li a:hover {
    background-color: #FFFFFF;
    color: #47748b;
}
#upload {
    background-color: #4f839e;
    font-size: 14px;
    padding: 15px 55px;
    margin-left: 8%;
}

#upload:hover {
    color:#4f839e;
    background: #FFFFFF;
}

#content {
    position: absolute;
    margin-left: 20%;
    padding: 20px;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -20%;
}

#sidebarCollapse {
    padding: 7px;
}

#content.active {
    margin-left: 0%;
}