@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
    background-color: #F6F6F6;
}

.wrapper {
    display: flex;
}

#sidebar {
    background: #FFFFFF;
    width: 250px;
    color: #060076;
    height: 100%;
    transition: all 0.3s;
    position: fixed;
    border-right: solid;
    border-width: thin;
    border-color: #C0C0C0;
}
a, a:hover {
    text-decoration: none;
    color: inherit;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #FFFFFF;
}

#sidebar ul li a {
    padding: 10px;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid;
    border-width: thin;
    border-color: #C0C0C0;
}

#sidebar ul li a:hover {
    color: #060076;
    background: #F6F6F6;
}
#sidebar ul li.active {
    color: #060076;
    background: #EEEEEE;
}

#navi ul li.active {
    background-color: #ECECEC;
    color: #060076;
}

.navbar-brand{
    padding: 7px;
    padding-left: 20px;
}
.logo {
    max-width: 40px;
    margin-top: 5px;
}

.navbar {
    background-color: #C0C0C0;
}

.nav.navbar-nav.navbar-right li a{
color: #2e2e2e;
}

.nav.navbar-nav.navbar-right li a:hover {
    background-color: #D3D3D3;
}

#upload {
    background-color: #DCDCDC;
    font-size: medium;
    padding: 15px 25px;
    margin: 0 auto;
    width: 230px;
}

#upload:hover {
    color: #060076;
    background-color: #C0C0C0;
}

#content {
    position: absolute;
    margin-left: 250px;
    padding: 20px;
    padding-top: 0px;
    transition: all 0.3s;
    width: auto;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebarCollapse {
    padding: 7px;
}

#content.active {
    margin-left: 0px;
}
#floatbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-primary {
    background-color:#060076 ;
}

.btn-primary:hover{
    background-color: #080099;
}

#ordnerbutton {
    background-color:#DCDCDC ;
    color: black;
    border:none;
}

#newfilebutton {
    background-color:#DCDCDC ;
    color: black;
    border:none;
}

#newfilebutton:hover {
    background-color: #D3D3D3;
}

#ordnerbutton:hover{
    background-color: #D3D3D3;
}