html, body {
    height:100%;
    width: 100%;
}

.navbar {
    background-color:rgba(255, 255, 255,0.9);
    padding: 0% 0;
    font-size: 1.2em;
}

.navbar-brand {
    min-height: 40px;
    padding: 0 15px 5px;
}

.bild1 {
    height: 40px;
}

.navbar-default .navbar-nav li a {
    color: #2e2e2e;

}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active {
    color: #070076;

}

#About
{
    height: 100%;
    display: table;
    position: relative;
    width: 100%;
    background-size: cover;

}

#Contact
{
    height: 100%;
    display: table;
    position: relative;
    width: 100%;
    background-size: cover;
}


#loginbutton {
    margin: 10px;
}


#home {
    background: url(bilder/Startbild_1.jpg) repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h1 {
    font-size: 500%;
    font-weight: 700;
}

.padding {
    padding: 80px 0;
}

#fixed {
    background: url("bilder/desk-3139127_1920.jpg")no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}


footer {
    width: 100%;
    background-color: #e0e0e0;
    padding:3% 5% 3% 5%;
    color: #000000;
;
}

.fa {
    padding:15px;
    font-size: 25px;
    color: #FFFFFF;
}

.fa:hover {
    text-decoration: none;
}

.icon {
    max-width: 150px;
}

.wrapper {
    margin-top: 180px;
    margin-bottom: 20px;
}

.form-signin {
    max-width: 420px;
    padding-top: 30px;
    padding-left: 38px;
    padding-right: 38px;
    margin: 0 auto;
}

.form-signin-heading {
    text-align:center;
    margin-bottom: 30px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


 #loginimage {
     max-width: 25%;
     margin-left: 35%;
 }

 #logintext {
     margin-left: 16%;
     color: rgba(80,80,80,1);
     font-style: italic;
 }

 #password_forgot {


 }



#password_forgotdo {
    margin-top: 20px;
}

.loginfeld {
    max-width: 420px;
    margin: 0 auto;
    background-color: rgba(224, 224, 224, 0.7);
}



#registerbutton

{
    margin-left: 3%;
    margin-top: 5%;

}

#footerimage {
    margin-left: 35%;
    max-width: 150px;
}
