@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,800');

html, body {
    height:100%;
    width: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
}

.navbar {
    background-color:rgba(255, 255, 255,0.9);
    padding: 0% 0;
    font-size: 1.2em;
}

.navbar-logo {
    min-height: 40px;
    padding: 0 15px 5px;
}

.bild1 {
    height: 40px;
}

.navbar-default .navbar-nav li a {
    color: #2e2e2e;

}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active {
    color: #070076;

}

#About
{
    height: 100%;
    display: table;
    position: relative;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 2%;
}

#Contact
{
    height: 100%;
    display: table;
    position: relative;
    width: 100%;
    background-size: cover;
}


#loginbutton {
    margin: 10px;
    background-color: #060076;
}

#loginbutton:hover {
    background-color: #080099;
}

#loginbuttonbig {
    background-color: #060076;
}

#loginbuttonbig:hover {
    background-color: #080099;
}

#startseite {
    background: url(bilder/Startbild_1.jpg)  repeat center center fixed;
    height: 100%;
    background-size: cover;
    display: table;
    position: relative;
    width: 100%;
}



.Leo {
    padding-top: 20px;
    width: 200px;
}

#register {
    background: url("bilder/desk-3139127_1920.jpg") no-repeat center center fixed;
    height: 100%;
    background-size: cover;
    display: table;
    position: relative;
    width: 100%;
    }


footer {
    width: 100%;
    background-color:rgba(255, 255, 255,0.9);
    padding:3% 3%;
    color: #000000;
;
}

.fa {
    padding:15px;
    font-size: 25px;
    color: #2e2e2e;
}

.fa:hover {
    text-decoration: none;
}

.icon {
    max-width: 150px;
}


.form-signin {
    padding-top: 30px;
    padding-left: 38px;
    padding-right: 38px;
    margin: 0 auto;
}

.form-signin-heading {
    text-align:center;
    margin-bottom: 30px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
}


 #loginimage {
     max-width: 25%;
     margin-left: 35%;
 }

 #logintext {
     margin-left: auto;
     margin-right: auto;
     color: rgba(80,80,80,1);
     font-style: italic;
     text-align: center;
 }

 #password_forgot {


 }



#password_forgotdo {
    margin-top: 20px;
    background-color: #060076;
}

#password_forgotdo:hover {
    background-color: #080099;
}

#password_renew {
    margin-top: 20px;
    background-color: #060076;
}

#password_renew:hover {
    background-color: #080099;
}

#loginfeld {
    background-color: rgba(224, 224, 224, 0.7);
    margin-top: 180px;
}



#registerbutton {
    background-color: #060076;
}

#registerbutton:hover {
    background-color: #080099;
}

#footerimage {
    text-align: center;
    max-width: 150px;
}

.fa-facebook:hover

{
    color: #060076;

}

.fa-twitter:hover

{
    color: #060076;

}

.fa-instagram:hover

{
    color: #060076;

}
.kontaktfeld {
    max-width: 620px;
    margin: 0 auto;
    background-color: rgba(224, 224, 224, 0.7);
    margin-top: 60px;
}

#formkontakt {
    max-width: 520px;
    margin: 0 auto;
}

.passwordconfirm {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 38px;
    padding-right: 38px;
    margin: 0 auto;
}

.passwordfeld{
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(224, 224, 224, 0.7);
    margin-top: 320px;
}

.form-register {
    margin: 0 auto;
}

#weiter {
    background-color: #060076;
}