html, body {
    height:100%;
    width: 100%;
}

.navbar {
    background-color:#e2e2e2 ;
    padding: 1% 0;
    font-size: 1.2em;
}

.navbar-brand {
    min-height: 55px;
    padding: 0 15px 5px;
}

.bild1 {
    height: 60px;
}

.navbar-default .navbar-nav li a {
    color: #2e2e2e;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active {
    color: #FFFFFF;
}

#home {
    background: url(bilder/mountains.jpeg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h1 {
    font-size: 500%;
    font-weight: 700;
}

.padding {
    padding: 80px 0;
}

#fixed {
    background: url(bilder/background.jpg) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}

footer {
    width: 100%;
    background-color: #e2e2e2;
    padding:3% 5% 3% 5%;
    color: #000000;
;
}

.fa {
    padding:15px;
    font-size: 25px;
    color: #FFFFFF;
}

.fa:hover {
    text-decoration: none;
}

.icon {
    max-width: 150px;
}

.wrapper {
    margin-top: 15%;
    margin-bottom: 20px;
}

.form-signin {
    max-width: 420px;
    padding: 30px 38px 66px;
    margin: 0 auto;
    background-color: #e2e2e2;
}

.form-signin-heading {
    text-align:center;
    margin-bottom: 30px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
